doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    script(src='https://www.gstatic.com/firebasejs/4.3.0/firebase.js')
    script(src='https://cdn.plot.ly/plotly-latest.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='styles.css')
    title Monster Fight!
  body
    .main-wrapper
        .menu
            .item.fight Fight!
            .item.pause Pause
            .item.info info
        .fight-wrapper

    script(src='scripts/utility.js')
    script(src='scripts/game.js')
    script(src='scripts/monster.js')
    script(src='scripts/attack.js')
    script(src='scripts/buff.js')