

button
    font-size: 150%
    font-weight:  bold

.main-wrapper
    .inputDiv
        margin 10rem
        #deckinput
            font-size 150%
            width 20rem
        #submitDeck
            font-size: 150%
            font-weight:  bold
        #rankSlider
            display block
            width 20rem
    .opponent
    .hand
        .card-wrapper
            position relative
            display inline-block
            .card
                position relative
                width 200px
            .cross
                position absolute
                left 0
                width 200px
                &.hidden
                    display none
    .hero
        display block
    #mulligan
        font-size: 150%
        font-weight:  bold